.input-add {
  border-bottom: 2px solid black;
  display: inline-block;

  button {
    appearance: none;
    border: none;
    width: $input-size;
    height: $input-size;
    font-size: $font-size;
  }
}