h1 {
  font-size: 14ux;
  position: absolute;
  right: 4ux;
  bottom: 4ux;
  letter-spacing: -1px;
}

h2 {
  font-size: 10ux;
  border-top: 2ux solid black;
  padding-top: 1ux;
  margin-bottom: 3ux;
  letter-spacing: -1px;
}